.container
	.col-xs-12.col-sm-2
	.col-xs-12.col-sm-8
		#new-pledge-heading
			= @gift.name
		- if current_user.id == @gift_owner_id
			.flash_alert
				NOTICE: Venmo does not permit users to transfer money into their own account. This means that it is not possible for you, the creator of this campaign, to transfer funds into your own account. While any pledges you make will be credited towards the campaign goal, please note that if this campaign is funded your account will not actually be charged.
		- if @gift.funded?
			.flash_alert
				WARNING: This campaign has been funded. All future pledges will be processed immediately.

		#new-pledge-container
			#new-pledge-title
				Make a Pledge
			#new-pledge-remaining
				%h4
					Remaining funding:
					%span
						= number_to_currency(calculate_remaining)

			= form_for [@gift, @pledge], :html => {:id => "new-pledge-form", :role => 'form'} do |f|
				.form-group
					= f.label(:amount, 'Your pledge amount:')
					= f.text_field(:amount, class: 'form-control', autofocus: true)
				.form-group
					%div
					= f.submit(value="Make Pledge!", id: 'new-pledge-submit', class: 'btn btn-default navbar-btn')
	.col-xs-12.col-sm-2
