.container
	.col-xs-12.col-sm-2#main-gift-sidebar{:data => {'spy' => "affix", 'offset-top' => "120", 'offset-bottom' => "200"}}
		#main-gift-sidebar-content
			- if user_signed_in?
				- if current_user.venmo_account
					= link_to 'New Campaign', new_gift_path, class: "btn btn-default navbar-btn"
				- else
					To create your own gift campaign, connect your account to Venmo.
					%div
						= link_to 'Connect to Venmo', new_venmo_account_path, class: "btn btn-default navbar-btn"
			- else
				Sign in to create your own campaign
				#sidebar-sign-in
					= link_to 'Sign in', new_user_session_path, class: "btn btn-default navbar-btn"
	.col-xs-12.col-sm-10.pull-right
		#user-feed-title
			%h1
				All current campaigns
		#main-gift-feed
		- @gifts.each do |gift|
			.col-sm-3.single-gift
				.main-feed-gift-title
					= link_to truncate(gift.name, length: 50), gift_path(gift)
				.main-feed-image
					= link_to image_tag(gift.avatar.url(:large), width: '100%'), gift_path(gift)
				.main-feed-gift-content
					.main-feed-gift-owner
						Started by:
						%span
							= gift.owner_full_name
					.main-feed-gift-description
						Description:
						%span
							= truncate(gift.description, length: 100)
					.main-feed-gift-description
						Funding:
					.progress
						.progress-bar{role: 'progressbar', style: "width: #{gift.percentage_funded}%"}
							= '%.0f' %gift.percentage_funded
							\%


