%h1= @gift.name
= image_tag @gift.avatar.url(:large)

= link_to 'Make a pledge to this campaign', new_gift_pledge_path(@gift)

= if current_user.id == @gift_owner_id
	= link_to 'Delete this campaign', gift_path, method: :delete
	= link_to 'Update this campaign', edit_gift_path(@gift)
