.container
	#back-to-gifts
		= link_to '<-- Back to gifts', gifts_path
	.col-xs-12.col-sm-1.pull-right.sidebar-padding
	.col-xs-12.col-sm-3#gift-sidebar.pull-right
		= render :partial => 'gift_sidebar'

	.col-xs-12.col-sm-6.col-sm-offset-1#gift-show-feed
		= render :partial => 'gift_content'

		= render :partial => 'gift_pledges'

	.col-xs-12.col-sm-3.pull-right
		= render :partial => 'gift_sidebar_options'


