<!DOCTYPE html>
<html>
<head>
  <title>Grifter</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class='col-xs-12 col-sm-3'>
			Something
		</div>

		<div class='col-xs-12 col-sm-3 pull-right'>
			<% if user_signed_in? %>
				<p class="navbar-text" id='signed-in-text'>
					<%= current_user.email %>
				</p>
				<%= link_to 'Sign Out', destroy_user_session_path, class: "btn btn-default navbar-btn", method: :delete, id: 'user-logout-button' %>
			<% else %>
				<%= link_to 'User Login', new_user_session_path, class: "btn btn-default navbar-btn", id: 'user-login-button' %>
				<%= link_to 'Create an Account', new_user_registration_path, class: "btn btn-default navbar-btn", id: 'user-create-account-button' %>
			<% end %>
		</div>

	</nav>

	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <%= content_tag :div, msg, :class => "flash_#{name}" %>
	  <% end %>
	<% end %>

<%= yield %>

</body>
</html>
